{% extends 'blog/blog_base.html' %}

{% block title %}
  Abdullah Elsayed - Blog
{% endblock title %}

{% block blog_content %}
    {% if tag %}
        <h2 class="title">Posts with "{{ tag.name }}" tag</h2>
    {% else %}
        <h2 class="title">Posts</h2>
    {% endif %}
    {% for post in posts %}
        <div class="card card-plain">
            <div class="card-body">
                <h4 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title.title }}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Published on {{ post.publish }}</h6>
                <p class="card-text">{{ post.body|truncatewords:20 }}</p>
                {% for tag in post.tags.all %}
                    <span class="badge badge-rose">
                        <a href="{% url "blog:posts_by_tag" tag.slug %}" style="color:white;">{{ tag.name }}</a>
                    </span>
                {% endfor %}
            </div>
        </div>
        <hr>
    {% endfor %}
    {% include "blog/partials/pagination.html" %}
{% endblock blog_content %}
